services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: turnstile_app
    ports:
      - "9000:9000"
    env_file:
      - .env
    volumes:
      - ./:/var/www
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: turnstile_db
    restart: unless-stopped
    ports:
      - "${MYSQL_PORT}:3306"
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - dbdata:/var/lib/mysql

volumes:
  dbdata:
